@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e5e5e5 #fafafa;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--color-secondary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 14px;
  border: 3px solid var(--color-primary);
}

@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: 4 120 87;
  --color-secondary: 209 213 219;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #374151;
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fade-in-out {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}